<<<<<<< HEAD
body {
  padding: 1.5% 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
}

img {
  margin-left: 90%;
}
=======
p{
    font-weight: ;
    color: ;
}

h1{
    font-weight: 900;
}

img {
    margin-left: 90%;
}
>>>>>>> 1198cbc4fff9293a9be084731ebe44d2e99bb318
